<div class="row top-project">
    <div>
      <div class="row justify-content-around">
        <div class="col-5 info-top-project">
          <h4 class="text-center">Battle card Game</h4>
          <p class="">Angular Hero Battle is one of the projects I enjoyed the most.  
            I can say that I am really proud of this project which has a lot of potential. 
            The <b>problem solving </b>  and being <b> persistent</b>  
            were the key to develop this player versus player card game. </p>
        </div>
          <img class=" col-7 mt-3 mb-3" src="assets/img/angular-battle.png" alt="">
      </div>
    </div>
  </div>
  <div class="row top-project left">
    <div>
      <div class="row justify-content-around">
        <img class=" col-7 mt-3 mb-3" src="assets/img/boutique-josep.png" alt="">
        <div class="col-5 info-top-project">
          <h4 class="text-center">Online Store</h4>
          <p class="">Online Store under development 
            The <b>problem solving </b>  and being <b> persistent</b>  
            were the key to develop this player versus player card game. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-project">
    <div>
      <div class="row justify-content-around">
        <div class="col-5 info-top-project">
          <h4 class="text-center">Rocket Race.</h4>
          <p class="">Angular Hero Battle is one of the projects I enjoyed the most.  
            I can say that I am really proud of this project which has a lot of potential. 
            The <b>problem solving </b>  and being <b> persistent</b>  
            were the key to develop this player versus player card game. </p>
        </div>
          <img class=" col-7 mt-3 mb-3" src="assets/img/rocket-race.png" alt="">
      </div>
    </div>
  </div>
  <div class="row top-project left">
    <div>
      <div class="row justify-content-around">
        <img class=" col-7 mt-3 mb-3" src="assets/img/Chuck-API.png" alt="">
        <div class="col-5 info-top-project">
          
          <h4 class="text-center">API Request</h4>
          <p class="">Angular Hero Battle is one of the projects I enjoyed the most.  
            I can say that I am really proud of this project which has a lot of potential. 
            The <b>problem solving </b>  and being <b> persistent</b>  
            were the key to develop this player versus player card game. </p>
        </div>
      </div>
    </div>
  </div>